.container-fluid {
    flex-direction: column;
}
.center{
    text-align: center;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}
.backgroundImage {
    background-image: url("Background.jpg");
}
.titleStyle{
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-size: 400%;
}
.headButton{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.formStyle{
    border-color: black;
    border-width: 0.3em;
}

#puntinaSize{
    width: 20%;
    height: auto;
}
#logoPag1Size{
    width: 50%;
    height: auto;
}
#logoPag2Size{
    width: 25%;
    height: auto;
}
