.container-fluid {
    flex-direction: column;
}
.center{
    text-align: center;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}
.backgroundImage {
    background-image: url("Background.jpg");
}
#puntinaSize{
    width: 20%;
    height: auto;
}
#logoSize{
    width: 50%;
    height: auto;
}
#titleStyle{
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-size: 400%;
}