/* STYLE FOR PAGE HOME */
.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

#navbarLogo {
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
}

.titleStyle {
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-size: 400%;
}

#logoPag1Size {
    width: 50%;
    height: auto;
}

#signUpHomePage {
    background-color: rgb(0, 96, 252);
    color: white;
    font-size: 130%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-bottom: 5%;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#signUpHomePage:hover {
    background-color: gray;
    color: white;
}

#signUpHomePage:active {
    background-color: #D7A417;
    color: black;
}

.noticeMe {
    font-size: larger;
}

@media screen and (max-width: 820px) {
    #navbarLogo {
        display: none;
    }

    #navbarButton {
        margin-left: auto;
    }
}

#logoSize {
    width: 20%;
    height: auto;
}

.signInLogOutShowMSButton {
    font-size: 130%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-bottom: 5%;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.signInLogOutShowMSButton:hover {
    background-color: gray;
    color: white;
}

.signInLogOutShowMSButton:active {
    background-color: #D7A417;
    color: black;
}

/* STYLE FOR PAGE NEW RESERVATION */

/* STYLE FOR PAGE HANDLE RESERVATION */
.animate__animated.animate__fadeInDown {
    --animate-duration: 3s;
}

.animate__animated.animate__fadeInDown.doneDiv {
    --animate-duration: 3s;
    --animate-delay: 4s;
}

.animate__animated.animate__fadeInDown.cancelDiv {
    --animate-duration: 3s;
    --animate-delay: 8s;
}

.activeButton {
    font-size: 130%;
    background-repeat: no-repeat;
    background-color: rgb(174, 123, 6);
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-bottom: 2%;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.activeButton:hover {
    background-color: gray;
    color: white;
}

.activeButton:active {
    background-color: #D7A417;
    color: black;
}

.doneButton {
    font-size: 130%;
    background-repeat: no-repeat;
    background-color: forestgreen;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-bottom: 2%;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.doneButton:hover {
    background-color: gray;
    color: white;
}

.doneButton:active {
    background-color: #D7A417;
    color: black;
}

.cancelButton {
    font-size: 130%;
    background-repeat: no-repeat;
    background-color: red;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    margin-bottom: 2%;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.cancelButton:hover {
    background-color: gray;
    color: white;
}

.cancelButton:active {
    background-color: #D7A417;
    color: black;
}

/* STYLE FOR PAGE SIGN IN */

/* STYLE FOR PAGE SIGN UP */
.signInButton {
    font-size: 130%;
    color: black;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.signInButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

.formStyle {
    border-color: black;
    font-weight: bold;
    border-width: 0.3em;
}

/* COMMON STYLE  */
header nav {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 5%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../image/Background.jpg");
    font-size: 130%;
    font-weight: bolder;
    color: black;
    font-family: 'Merienda', Helvetica, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

input[type=radio] {
    border: 0.2em solid rgb(0, 0, 0);
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: url(../image/Check.svg) no-repeat center center;
    background-size: 1em 1em;
}

input[type=radio]:focus {
    outline-color: transparent;
}

input[type=checkbox] {
    border: 0.2em solid rgb(0, 0, 0);
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=checkbox]:checked {
    background: url(../image/Check.svg) no-repeat center center;
    background-size: 1em 1em;
}

input[type=checkbox]:focus {
    outline-color: transparent;
}

input:active,
input:focus,
input:active {
    box-shadow: none !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#SPA {
    padding-bottom: 10rem;
}

#puntinaSize {
    width: 20%;
    height: auto;
}

@media screen and (min-width: 941px) {
    .titleHolder {
        display: flex;
    }

}

.titleHolder {
    justify-content: center;
}

.titleHolder h1 {
    padding-top: 3%;
}

.container-fluid {
    flex-direction: column;
}

.center {
    text-align: center;
}

.homeButton {
    font-size: 130%;
    color: white;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.homeButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

.btn:active,
.btn:focus,
.btn:active,
.btn:hover,
.btn {
    border-color: black;
    border-width: 0.3em;
    box-shadow: none !important;
}

.commonStyleButton:hover {
    background-color: darkgray;
}

.commonStyleButtonClick:active {
    background-color: #D7A417;
    color: white;
}

.spacing {
    margin-bottom: 1em;
}

.doubleSpacing {
    margin-bottom: 2em;
}

.teacherNameReserv {
    font-size: 1.5em;
}

