.container-fluid {
    flex-direction: column;
}

.center {
    text-align: center;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

.backgroundImage {
    background-image: url("../image/Background.jpg");
}

.titleStyle {
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    font-size: 400%;
}

.headButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.headButton:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
}

.actionButton {
    border-color: black;
    border-width: 0.3em;
}

.formStyle {
    border-color: black;
    font-weight: bold;
    border-width: 0.3em;
}

.fontStyle {
    font-size: 130%;
    font-weight: bolder;
    color: black;
}

#puntinaSize {
    width: 20%;
    height: auto;
}

#logoPag1Size {
    width: 50%;
    height: auto;
}

#logoPag2Size {
    width: 10%;
    height: auto;
    max-width: 700px;
}

input[type=radio] {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
    background-size: 0.7em 0.7em;
}

input[type=radio]:focus {
    outline-color: transparent;
}